<!-- templates/navbar.html -->
<nav>
    <div class="nav-left">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('routes.logout') }}" class="btn">Logout</a>

            <div class="dropdown">
                <button class="btn dropbtn">No-Hitters</button>
                <div class="dropdown-content">
                    {% for team in teams %}
                        <a href="{{ url_for('routes.nohitters_dropdown', team=team) }}">{{ team }}</a>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <a href="{{ url_for('routes.login') }}" class="btn">Login</a>
            <a href="{{ url_for('routes.register') }}" class="btn">Register</a>
        {% endif %}
    </div>
</nav>
